<div class="ui container">
  <h2 *ngIf="term"> {{ results.length }} Results found for "{{ term }}"!</h2>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Wordcount</th>
        <th>Snippet</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor=" let result of results" >
        <tr>
          <td><a [href]="'http://en.wikipedia.org/?curid=' + result.pageid">{{ result.title }}</a> </td>
          <td data-label="Wordcount"> {{ result.wordcount }}</td>
          <td [innerHTML]="result.snippet"></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
